# --- Framework Web e Servidor ---
Flask
waitress

# --- Autenticação e Segurança ---
Flask-Login
Werkzeug

# --- Automação Web (RPA) ---
playwright

# --- Manipulação de Planilhas ---
openpyxl

# --- Agendamento de Tarefas ---
schedule